## use this module setup

I've already gotten started with:

```
go mod init {{ .GoModuleNamespace }}/{{ .GoModuleName }}
```

## I've included some requirements here

- don't use deprecated packages, for example io/ioutil is deprecated, let's not use that

- when you reply, don't include files `go.mod` or `go.sum` since I can generate that using `go mod init` and `go mod tidy`.  By not sending me these files we save resources/time as you don't have to write those out.

## use cobra-cli and viper please

{{include "../go-app-use-cobra-cli/go-app-use-cobra-cli.tmpl" . | trim}}

{{include "../common-apps/common-apps.tmpl" .}}
