## use this module setup

I've already gotten started with:

```
go mod init github.com/gkwa/{{ .ProjectName }}
```

## use cobra-cli and viper please
{{include "../go-app-use-cobra-cli/go-app-use-cobra-cli.tmpl" . | trim}}

{{include "../common-apps/common-apps.tmpl" .}}
