{{include "../common-apps/common-apps.tmpl" . | trim }}

## our appp will use typescript

## for build and test

{{include "../use-vite/use-vite.tmpl" . | trim }}

## make sure to add source maps

For debugging we need to have source maps available.  Vite allows you to set this.

## package manager

{{include "../pnpm/pnpm.tmpl" . | trim }}

## for orchestration, we'll use just instead of make

{{include "../justfile/justfile.tmpl" . | trim }}
